MIDDLEWARE_API=http://middleware:5006
MONITORING_API=http://monitoring-api:8001

CORE_DB_URL=postgresql+psycopg2://postgres:postgres@core-db:5432/sensearth_db
MONITORING_DB_URL=postgresql+psycopg2://postgres:postgres@monitoring-db:5432/monitoring_db

VITE_MIDDLEWARE_API_URL=/middleware
VITE_MONITORING_API_URL=/monitoring
