// ============================
//     Table css start
// ============================

.table {
  &.table-align-center {
    td,
    th {
      vertical-align: middle;
    }
  }
  thead th {
    padding: 0.3rem 0.2rem;
  }
  td,
  th {
    vertical-align: middle;
    padding: 0.3rem 0.2rem;
    width: auto;
    white-space: nowrap;
  }
  &.table-borderless {
    td,
    th {
      border: none !important;
    }
  }
}

// Override Bootstrap responsive table behavior
.table-responsive {
  table {
    width: auto !important;
  }
}

.table-hover tbody tr:hover {
  background-color: transparentize($primary, 0.97);
}
